@{
    ViewData["Title"] = "Micro Services";
}

<div class="text-center">
    <h1 class="display-4">Micro Services</h1>
    <ul><li>Company Service</li>
        <li>Employee Service</li>
        <li>Company Employee Service</li></ul>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
